body{
    background-color: #5F3367;
    margin: 0;
    width: 100%;   
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    position: relative;
    margin: 61px 10%;
    display: flex;
    justify-content: space-between;
}

.title{
    font-family: "Quicksand", sans-serif;
    font-weight: 900;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.items{
    list-style: none;
    display: flex;
    gap: 47px;
    align-items: end;
    font-family: "Quicksand", sans-serif;
}

.menu{
    display: flex;
}

.items a{
    text-decoration: none;
    font-size: 25px;
    color: white;
}

.menuBtn{
    display: none;
}

.greet-sec{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    margin-left: 11%;
    margin-right: 11%;
    gap: 33px;

}

.greet-sec img{
    width: 55%;
    border-radius: 50%;
    order: 1;
}

.greet-sec div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.greet-title{
    font-family: "Quicksand", sans-serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
}

.greet-content{
    font-family: "Quicksand", sans-serif;
    font-size: 30px;
    margin-bottom: 52px;
}

.ContactBtn{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background-color: #774181;
    color: white;
    text-align: center;
    border-radius: 100px;
    padding: 17px 26px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    
}

/* SECTION 2 */
.about-sec{
    margin: 79px 10% 0 10%;
    border-radius: 20px;
    background-color: #29162D;
    color: white;
    padding: 25px;
}

.about-content{
    display: flex;
    align-items: center;
}

.about-title{
    text-transform: uppercase;
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 2px;
}

.about-items{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-item img{
    width: 80px;
}

.about-item{
    display: flex;
    gap: 10px;
    background: linear-gradient(90deg, rgba(251, 251, 251, 0.403) 0%, rgba(182, 23, 179, 0.249) 100%);
    background-size: 0 100%;
    background-repeat: no-repeat;
    transition: 0.4s;
    padding: 24px;
    border-radius: 20px; 
    align-items: center;
}

.about-item:hover{
    background-size: 100% 100%;
}

.about-item h3{
    font-family: "Quicksand", sans-serif;
    font-size: 25px;
    font-weight: 800;
}

.about-item p{
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
}

/* SECTION 3*/
.sec3-container{
    color: white;
    margin: 79px 10% 0 10%;
}

.sec3-title{
    font-family: "Quicksand", sans-serif;
    font-size: 35px;
    font-weight: 900;
    letter-spacing: 1.75px;
    text-transform: uppercase;
}

.sec3-content{
    display: flex;
    margin-top: 14px;
    gap: 50px;
}

.sec3-content > div{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.sec3-skills{
    display: flex;
    flex-wrap: wrap;
    gap: 37px;
    width: auto;
}

.sec3-skill{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 11px;
    
}

.sec3-skillImage{
    background-color: #774181;
    width: 120px;
    height: 120px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec3-skill p{
    font-size: 25px;
    font-weight: 900;
    font-family: "Quicksand", sans-serif;

}

.sec3-experience{
    width: 90%;
}

.sec3-experienceItems{
    display: flex;
    flex-direction: column;
    gap: 40px;
    font-family: "Quicksand", sans-serif;
}

.sec3-experienceItem{
    display: flex;
    align-items: center;
    gap: 20px;
    background: linear-gradient(90deg, rgba(251, 251, 251, 0.403) 0%, rgba(182, 23, 179, 0.249) 100%);
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 24px;
}

.contact-link img{
    width: 45px;
}

.footer-container{
    margin-top: 120px;
    background-color: #774181;
    width: 100vw;
    color: white;
    display: flex;
    justify-content: space-evenly;
    padding: 58px 10%;
    gap: 10px;
    font-family: "Quicksand", sans-serif;
}

.contact-title h2{
    font-size: 80px;
    font-weight: 700;
    letter-spacing: 4px;
}

.contact-title p{
font-size: 40px;
font-weight: 400;
letter-spacing: 2px;
}

.contact-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    gap: 20px
}

.contact-link{
    display: flex;
    align-items: center;
    gap: 25px;
}

.contact-link a{
    color: white; 
    text-decoration: none;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 1.5px;
}

@media screen and (max-width: 830px){
    .sec3-container{
        margin: 30px 0 0 3%;
    }
    .sec3-content{
        display: flex;
        flex-direction: column;
        gap: 100px;
    }

    .sec3-content > div {
        display: flex;
        flex-direction: column;
    }

    .sec3-skills{
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        width: auto;
    }

    .sec3-experienceItemDetails{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .sec3-experienceItems{
        align-items: center;
    }

    .footer-container{
        flex-direction: column;
        gap: 23px;
    }

    .contact-title{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contact-links{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .contact-link a{
        font-size: 20px;
    }
}



@media screen and (max-width:830px){
    .navbar{
        flex-direction: column;
        align-items: start;
    }

    .menu{
        position: absolute;
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
        margin-right: 10%; 
        right: 0;
    }

    .items{
        display: block;
        text-align: center;
        background: linear-gradient(0deg, 
        #5F3367 0%,
        #a88bad 100%);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuBtn{
        display: block;
        cursor: pointer;
    }

    .onOff{
        display: none;
    }

    .item{
        border: 1px solid black;
        padding: 8px 25px;
    }

    .greet-sec{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }


    .greet-sec div{
        flex-direction: column;
        align-items: center;
    }

    .about-sec{
        background-color: transparent;
        margin-left: 0;
        margin-right: 0;
        margin-top: 80px;
    }

    .about-content{
        flex-direction: column;
        align-items: center;
    }

    .about-content > img{
        display: none;
    }

    .about-items{
        margin-top: 10px;
    }

    .about-item img{
        width: 200px;
    }
    
    .about-title{
        font-size: 50px;
    }
   
    #technologies h2{
        font-size: 50px;
    }
   
}