body{
    background-color: rgb(114, 64, 162);
    margin: 0;
    width: 100%;   
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar{
    position: relative;
    margin: 61px 10%;
    display: flex;
    justify-content: space-between;
}

.title{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 30px;
    text-decoration: none;
    color: white;
}

.items{
    list-style: none;
    display: flex;
    gap: 47px;
    align-items: end;
}

.menu{
    display: flex;
}

.items a{
    text-decoration: none;
    font-size: 25px;
    color: white
}

.menuBtn{
    display: none;
}

.greet-sec{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    gap: 33px;

}

.greet-sec img{
    width: 55%;
    border-radius: 50%;
    order: 1;
}

.greet-sec div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.greet-title{
    font-family: "Roboto", sans-serif;
    font-size: 72px;
    font-weight: 900;
    margin-bottom: 33px;
}

.greet-content{
    font-family: "Roboto", sans-serif;
    font-size: 30px;
    margin-bottom: 52px;
}

.ContactBtn{
    font-family: "Roboto", sans-serif;
    text-decoration: none;
    background-color: cyan;
    color: white;
    text-align: center;
    border-radius: 100px;
    padding: 17px 26px;
    font-size: 30px;
    font-weight: 600;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    
}

@media screen and (max-width:830px){
    .navbar{
        flex-direction: column;
        align-items: start;
    }

    .menu{
        position: absolute;
        flex-direction: column;
        gap: 15px;
        align-items: flex-end;
        margin-right: 10%; 
        right: 0;

    }

    .items{
        display: block;
        text-align: center;
        background-color: rgb(58, 58, 58);
        background: linear-gradient(0deg, 
        rgba(230, 11, 11, 0.2) 0%,
        rgba(226, 156, 156, 0.1) 100%);
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
    }

    .menuBtn{
        display: block;
        cursor: pointer;
    }

    .onOff{
        display: none;
    }

    .item{
        border: 1px solid black;
        padding: 8px 25px;
    }

    .greet-sec{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
    }


    .greet-sec div{
        flex-direction: column;
        align-items: center;
    }
}